<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Firebase Speech Chat
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exitChat()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user === nickname">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.user !== nickname">
          <div class="left-bubble">
            <span class="msg-name">{{chat.user}}</span>
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="input">
        <h2>Input</h2>
        <div class="controls">
          <select id="selectLanguage" [(ngModel)]="speechService.selectLanguage" (change)="speechService.updateDialects($event)">
            <option [ngValue]="language.value" *ngFor="let language of speechService.languages">{{ language.label }}</option>
          </select>
          <select id="selectDialect" [(ngModel)]="speechService.selectDialect" [disabled]="speechService.dialects.length==1">
            <option [ngValue]="dialect.value" *ngFor="let dialect of speechService.dialects">{{ dialect.label }}</option>
          </select>
          <button id="buttonStart" (click)="speechService.start($event)">Start</button>
        </div>
        <div class="results" id="textareaInput">
          <span class="final" id="final_span">{{ speechService.final_span }}</span>
          <span class="interim" id="interim_span">{{ speechService.interim_span }}</span>
        </div>
      </ion-col>
      <ion-col col-6 class="output">
        <h2>Output</h2>
        <div class="controls">
          <select id="selectVoice" [(ngModel)]="speechService.selectVoice">
            <option [ngValue]="voice.value" *ngFor="let voice of speechService.voices">{{ voice.label }}</option>
          </select>
        </div>
        <div class="results" id="textareaOutput">
          <span class="final" id="final_voice">{{ speechService.final_voice }}</span>
          <span class="interim" id="interim_voice">{{ speechService.interim_voice }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
