
.disabled-message {
  display: none;
}

.disable .disabled-message {
  background-color: rgb(255, 238, 238);
  border: 1px dashed rgb(216, 106, 106);
  display: block;
  margin: 1rem 0;
  padding: 2rem;
}

.disable .input,
.disable .output {
  display: none;
}

.controls {
  margin-bottom: 1rem;

  select {
    &:disabled {
      opacity: 0;
    }
  }
}

.results {
  border: 1px solid #eee;
  padding: .5rem;
}

.interim {
  color: gray;
}

.final {
  color: black;
  padding-right: 3px;
}
